<ion-content color="primary">
  <ion-button (click)="dismiss()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>


<ion-content color="primary" class="ion-padding">
 <ion-card expand="block" class="ion-margin-top" fill="outline"
 color="white">
 <img alt="Silhouette of mountains" src="./assets/img/PrestaIconoNegativo.png" />
 <ion-card-content>
  
  <ion-card-header>
    <ion-card-title style="font-size: 18px;" class="ion-text-center">¡Bienvenido!</ion-card-title>
  </ion-card-header>


  <ion-input color="primary" placeholder="Email" type="email"  [(ngModel)]="usuario.email" class="primary-input" style="margin: 5% 0 0; text-align: center; " required></ion-input>
  <ion-input color="primary" placeholder="Password" [(ngModel)]="usuario.password" type="password" style="margin: 5% 0 0; text-align: center; " class="primary-input" required></ion-input>

  <div class="ion-margin-top ion-text-center forget;" >
    <a>Olvidé mi contraseña</a>
  </div>

  <div class="ion-margin-top">
    <ion-button color="warning" expand="block" class="ion-margin-top"
    color="tertiary" style="font-size: 15px; margin: 5% 10% 2% " expand="block" [disabled]="!usuario.email || !usuario.password" (click)="login()">INGRESA</ion-button>
  </div>
  <div class="ion-margin-top">
    <ion-button color="DARK" expand="block" style="font-size: 15px; margin: 5% 10% 10% " (click)="dismissRegister()">REGISTRARSE</ion-button>
  </div>
</ion-card-content>
</ion-card>
</ion-content>
</ion-content>

