<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-buttons color="secondary" slot="start">
      <ion-button color="tertiary"  ><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title mode="md" class="ion-no-padding">
      <ion-label >
        <ion-text color="secondary">Confirmar</ion-text>
        <p><ion-text color="white"><strong>Recarga</strong></ion-text></p>
        
      </ion-label>
    </ion-title>
    <ion-avatar slot="end">
      <img src="./assets/img/PrestaIconoNegativo.png" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" color="primary">
 
<ion-card color="primary">
  


<ion-card-content>
  <ion-card-title style="font-size: 18px;" class="ion-text-center">
    Por favor, envia el siguiente monto en Bolivares:
  </ion-card-title>
  <ion-input color="tertiary" readonly value="1358.65" type="number" class="custom-input" style="font-size: 72px; text-align: center;"></ion-input>
  <ion-card color="white">
    <ion-card-header>A los siguientes datos:</ion-card-header>
    <ion-card-content>
      <ion-card-title>
        Banco: Bancamiga (0172)
      </ion-card-title>
      <ion-card-title>
        Documento: V-26101304
      </ion-card-title>
      <ion-card-title>
        Teléfono: 04147703566
      </ion-card-title>
      
    </ion-card-content>
  </ion-card>

  <ion-input class="custom-input">No de referencia(Últimos 6 dígitos)</ion-input>
  <ion-button expand="block" color="white" class="ion-text-center"  slot="center">Confirmar</ion-button>
</ion-card-content>
<img src="./assets/img/prestarecargaicono.png" alt="">
</ion-card> 
  


</ion-content>


