<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-buttons color="secondary" slot="start">
      <ion-button color="tertiary"  ><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title mode="md" class="ion-no-padding">
      <ion-label >
        <ion-text color="warning">Detalles</ion-text>
        <p><ion-text color="white"><strong>Alcancia</strong></ion-text></p>
        
      </ion-label>
    </ion-title>
    <ion-avatar slot="end">
      <img src="assets/imgs/Prestapp Logo.png" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true" mode="ios" color="primary">
 

 <ion-content color="primary">
  
<ion-grid>
  
  <ion-card>
    <img alt="Silhouette of mountains" src="./assets/img/iconodolar.png" />
  <ion-row>
    <ion-col>
<ion-card>
  <ion-card-content>
  <ion-card-subtitle>
    Monto a recibir: 
   
      <ion-card-title class="custom-input" style="font-size: 32px;"> 3500$ </ion-card-title>
   
  </ion-card-subtitle>
</ion-card-content>
</ion-card>
<ion-card>
<ion-button>
  Pagar cuotas
</ion-button>
</ion-card>
</ion-col>
<ion-col>
<ion-card>
  <ion-card-content>
    <ion-card-title>350$</ion-card-title>
    <ion-card-subtitle>Cuotas</ion-card-subtitle>
    
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-content>
    <ion-card-title>1500$</ion-card-title>
    <ion-card-subtitle>Abonado</ion-card-subtitle>
  </ion-card-content>
</ion-card>
</ion-col>
</ion-row>
<ion-row>
  <ion-card color="success">
    <ion-card-content>
  <ion-card-title  style="font-size: 20px;">Dias para proxima cuota: 7</ion-card-title>
</ion-card-content>
</ion-card>
</ion-row>

</ion-card>
</ion-grid>
<ion-grid>
  
  <ion-row>
   <ion-col>
    <ion-card>
      <ion-card-content>
        <ion-card-title>8/10-25/05</ion-card-title>
        <ion-card-subtitle>Turno actual: Carolina Amundaray</ion-card-subtitle>
        
      </ion-card-content>
    </ion-card>
   </ion-col>
   <ion-col>
    <ion-card>
      <ion-card-content>
        <ion-card-title>9 - 26/05</ion-card-title>
        <ion-card-subtitle>Tu turno-Fecha</ion-card-subtitle>
        <ion-button>Ver turnos</ion-button>
        
      </ion-card-content>
    </ion-card>

   </ion-col>
</ion-row>
</ion-grid>

</ion-content>
   

</ion-content>
