<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-buttons color="secondary" slot="start">
      <ion-button color="tertiary"  ><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title mode="md" class="ion-no-padding">
      <ion-label >
        <ion-text color="secondary">Retiro</ion-text>
        <p><ion-text color="white"><strong>Fondos</strong></ion-text></p>
        
      </ion-label>
    </ion-title>
    <ion-avatar slot="end">
      <img src="./assets/img/PrestaIconoNegativo.png" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" color="primary">
 
<ion-card color="primary">
  


<ion-card-content>
  <ion-card-title style="font-size: 18px;" class="ion-text-center">
    Costo del producto ($):
  </ion-card-title>
  <ion-input color="tertiary" type="number" class="custom-input" style="font-size: 72px; text-align: center;"></ion-input>
  <ion-card color="white">
    <ion-card-header>Datos de la alcancia:</ion-card-header>
    <ion-card-content>
      <ion-card-title>
        <ion-input placeholder="Ej. Tv 42Pulgadas Smart Tv" class="custom-input" style="font-size: 12px;">Descripción del producto</ion-input>
      </ion-card-title>
      <ion-card-title>
        <ion-input placeholder="Copia y pega el link aqui" class="custom-input" style="font-size: 12px;">Url de foto referencial del producto</ion-input>
      </ion-card-title>
      <ion-card-title style="font-size: 12px;">Modalidad de pago
        <ion-select type="number" placeholder="Seleccione la modalidad" class="custom-input" style="font-size: 12px;">
          <ion-select-option value=7>Semanal</ion-select-option>
          <ion-select-option value=15>Quincenal</ion-select-option>
          <ion-select-option value=30>Mensual</ion-select-option>
        </ion-select>
      </ion-card-title>
      
      <ion-card-title style="font-size: 12px;">Numero de integrantes
        <ion-select type="number" placeholder="Seleccione (max 15)" class="custom-input" style="font-size: 12px;">
          <ion-select-option value=2>2</ion-select-option>
          <ion-select-option value=4>4</ion-select-option>
          <ion-select-option value=6>6</ion-select-option>
          <ion-select-option value=8>8</ion-select-option>
          <ion-select-option value=10>10</ion-select-option>
          <ion-select-option value=12>12</ion-select-option>
          <ion-select-option value=15>15</ion-select-option>
        </ion-select>
      </ion-card-title>
     
      
    </ion-card-content>
  </ion-card>
  <h2>Al crear la alcancia, adquieres un compromiso de entregar el producto al integrante cuando corresponda su turno. <hr>La cantidad de integrantes sera igual a la cantidad de cuotas por pagar.</h2>

  <ion-button expand="block" color="secondary" class="ion-text-center"  slot="center">Confirmar</ion-button>
  
</ion-card-content>

</ion-card> 
  


</ion-content>


