<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-buttons color="secondary" slot="start">
      <ion-button color="tertiary" (click)="atrasHome()" ><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title mode="md" class="ion-no-padding">
      <ion-label >
        <ion-text color="warning">Estas son tus</ion-text>
        <p><ion-text color="white"><strong>Alcancias</strong></ion-text></p>
        
      </ion-label>
    </ion-title>
    <ion-avatar slot="end">
      <img src="assets/imgs/Prestapp Logo.png" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>
    
    
  



<ion-content scrollY="true" mode="ios" color="primary">

  
 <ion-searchbar placeholder="Buscar alcancia por id"></ion-searchbar>

 <ion-card color="primary" class="banners">


  <div class="card-container">
  

  <ion-card  *ngFor="let alcancia of alcancias" class="custom-card" (click)="detallesAlcancia(alcancia)">
    <img alt="Silhouette of mountains" src="./assets/img/iconodolaraldia.png" />
    <ion-card-header  >
      <ion-card-title style="font-size: 10px;" >Administrador</ion-card-title>
      <ion-card-subtitle>{{alcancia.creador.id}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item  style="font-size: 16px;">
          <strong>Recibes: ${{alcancia.alcancia.montoARecibir}}</strong>
        </ion-item>
        
        <ion-item  style="font-size: 12px;">
          Cuotas: ${{alcancia.alcancia.montoCuotas}}
        </ion-item>
        <ion-item  style="font-size: 12px;">
          Integrantes: {{alcancia.alcancia.integrantes}}
        </ion-item>
        <ion-item  style="font-size: 12px;">
          Pago cada {{alcancia.alcancia.modalidad}} días.
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</div>



</ion-card>

<ion-card class="custom-datetime">
  <ion-datetime></ion-datetime>
</ion-card>

</ion-content>


  


<ion-modal md="ios" #modal>
  <ng-template>
    <ion-header color="primary">
      <ion-toolbar color="primary">
        <ion-buttons color="secondary" slot="start">
          <ion-button color="tertiary" (click)="cerrarDetalles()"  ><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
        </ion-buttons>
        
      </ion-toolbar>
    </ion-header>
    <ion-header class="ion-no-border">
      <ion-toolbar color="primary">
        <ion-title mode="md" class="ion-no-padding">
          <ion-label >
            <ion-text color="warning">Detalles</ion-text>
            <p><ion-text color="white"><strong>Alcancia</strong></ion-text></p>
            
          </ion-label>
        </ion-title>
        <ion-avatar slot="end">
          <img src="assets/imgs/Prestapp Logo.png" />
        </ion-avatar>
      </ion-toolbar>
    </ion-header>
    
    <ion-content scrollY="true" mode="ios" color="primary">
     
    
     <ion-content color="primary">
      
    <ion-grid>
      
      <ion-card>
        <img alt="Silhouette of mountains" src="./assets/img/iconodolaraldia.png" />
      <ion-row>
        <ion-col>
    <ion-card>
      <ion-card-content>
      <ion-card-subtitle>
        Monto a recibir: 
       
          <ion-card-title class="custom-input" style="font-size: 32px;">${{alcanciaSeleccionada.alcancia.montoARecibir}}</ion-card-title>
       
      </ion-card-subtitle>
    </ion-card-content>
    </ion-card>
    <ion-card>
    <ion-button>
      Pagar cuotas
    </ion-button>
    </ion-card>
    </ion-col>
    <ion-col>
    <ion-card>
      <ion-card-content>
        <ion-card-title>${{alcanciaSeleccionada.alcancia.montoCuotas}}</ion-card-title>
        <ion-card-subtitle>Cuotas</ion-card-subtitle>
        
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-card-title>1500$</ion-card-title>
        <ion-card-subtitle>Abonado</ion-card-subtitle>
      </ion-card-content>
    </ion-card>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-card color="success">
        <ion-card-content>
      <ion-card-title  style="font-size: 20px;">Dias para proxima cuota: {{diferenciaEnDias | async}}</ion-card-title>
    </ion-card-content>
    </ion-card>
    </ion-row>
    
    </ion-card>
    </ion-grid>
    <ion-grid>
      
      <ion-row>
       <ion-col size="6">
        <ion-card *ngIf="turnoSeleccionado">
          <ion-card-content>
            <ion-card-title style="font-size: 18px;">Turno {{turnoSeleccionado.id}} de {{alcanciaSeleccionada.alcancia.integrantes}} | Fecha:{{turnoSeleccionado.data.fechaDeturno | date}}</ion-card-title>
            <ion-card-subtitle>Turno actual:<hr>{{turnoSeleccionado.data.nombre}}</ion-card-subtitle>
            
          </ion-card-content>
        </ion-card>
       </ion-col>
       <ion-col size="6">
        <ion-card *ngIf="docId && fechaDeturno">
          <ion-card-content>
            <ion-card-title style="font-size: 18px;">Tu turno: Turno {{docId}} | Fecha:{{fechaDeturno | date}}</ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-button (click)="openModalTurnos()">Ver turnos</ion-button>
            
          </ion-card-content>
        </ion-card>
    
       </ion-col>
    </ion-row>
    </ion-grid>
    
    </ion-content>
       
    
    </ion-content>
    
  </ng-template>
</ion-modal>





<ion-modal md="ios" #modalTurnos>
  <ng-template>
    
    <ion-header color="primary">
      <ion-toolbar color="primary">
        <ion-buttons color="secondary" slot="start">
          <ion-button color="tertiary" (click)="cerrarModalTurnos()" ><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
        </ion-buttons>
        
      </ion-toolbar>
    </ion-header>
    <ion-header class="ion-no-border">
      <ion-toolbar color="primary">
        <ion-title mode="md" class="ion-no-padding">
          <ion-label >
            <ion-text color="warning">Detalles</ion-text>
            <p><ion-text color="white"><strong>Turnos</strong></ion-text></p>
            
          </ion-label>
        </ion-title>
        <ion-avatar slot="end">
          <img src="assets/imgs/Prestapp Logo.png" />
        </ion-avatar>
      </ion-toolbar>
    </ion-header>
    
    <ion-content scrollY="true" mode="ios" color="primary">
     
    
     <ion-content color="primary">
      
    <ion-grid>
      
      <ion-card>
        <img alt="Silhouette of mountains" src="./assets/img/iconodolarturnos.png" />
      <ion-row>
        <ion-col>
    <ion-card *ngFor="let turno of turnos" color="success">
      <ion-card-content>
      <ion-card-subtitle>
        Turno {{turno.id}}: {{turno.fechaDeturno.toDate() | date }} 
       
          <ion-card-title class="custom-input" style="font-size: 12px;">{{turno.nombre}}<ion-button style="font-size: 8px;">Pagar cuota</ion-button></ion-card-title>
       
      </ion-card-subtitle>
      <ion-card-subtitle>
       
       
        <ion-card-title class="custom-input" style="font-size: 12px;"> Dias restantes: {{turno.diferenciaEnDiasDetalles }}</ion-card-title>
     
    </ion-card-subtitle>
    </ion-card-content>
    </ion-card>
    
    
    </ion-col>
    
    </ion-row>
    <ion-row>
     
    </ion-row>
    
    </ion-card>
    </ion-grid>
    
    </ion-content>
       
    
    </ion-content>
    
        
      </ng-template>
    </ion-modal>
    
